*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    scroll-behavior: smooth;
}
body{
    /* font-family: 'Itim', cursive; */
    font-family: 'Dosis', sans-serif;
    background: #ffffff; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
header{
    background-color: rgb(248, 234, 250);
/*     height: 1000px; */
}


.img_logo{
    text-align: center;

/*     float: right; */

}
.imglogo{
    height: 100%;
    max-width: 100%;
}
.container{
    height: 1000px;
    max-width: 1880px;
    overflow: hidden;
    margin: auto;
    padding-bottom: 60px;
}
.hamburguer{
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    color: aqua;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 7px purple;
    background: linear-gradient(to right, #fc6767, #ec008c);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(images/menu2.jpg);
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
}

.spread{
    transform: translateX(0);
}
.menu-navegacion a{
    color: rgb(61, 3, 88);
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
}
.container img{
    display: block;
    height: auto;
    object-fit: cover;
    width: 1880px;
    animation: moverArriba 1s ease-in;
}


.sabores{
    height: 1000px;
    width: auto;
}
.imgsabores{
    max-width: 940px;
    object-fit: cover;
    object-position: top;
    float: left;

}
.pastelcholate{
    height: 800px;
    width: 900px;
}

.textosabores{
    margin-top: 250px;
    margin-right: 180px;
    max-width: 930px;
    text-align: center;
    float: right;
}
.textosabores h2{
    font-size: 32px;
    font-family: 'Varela Round', sans-serif;
}
.textosabores p{
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
}
button{
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
    font-weight: bold;

}

button a{
    text-decoration: none;
    color: white;
}

footer{
    background: linear-gradient(to right, #fc6767, #ec008c);
    padding-bottom: 0.1px;
/*     position: relative; */
/*     z-index: 100; */
}

.btncontacto{
    font-size: .9rem;
    font-weight: bold;
    color: black;
    width: 200px;
    height: 30px;
    flex-wrap: wrap;
    border: 0;
    background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-me{
    width: 40%;
    color: white;
    margin: auto;
}

.brand{
    font-weight: bold;
    font-size: 45px;
}
.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
}
.social-media-icon:hover{
    background: white;
    color: rgb(145, 26, 168);
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}